body {
    background-color: rgb(15, 15, 15);
    overflow-x: hidden;
}
.intro-image{
    padding-right: 10px;
    width: auto;
    padding-left: 50px;
    
}

.container {
    width: 100%;
    padding: 10px;
    border: 2px;
    right: 50px;
} 


.heading {
	letter-spacing: 3px;
	color:white;
	text-decoration: underline;
    text-align: center ;
}

.intro {
    color: white;
    font-size: medium;
    padding-left: 25px;
    padding-right: 30px;
}
   
#read-more {
    color: white;
}
a:hover{
    color: yellow;
}
    
